@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,800&display=swap");

:root {
  --secondary-backgoundcolor: #e6dace;
  --primary-backgroundcolor: #f4ece6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
}

/* header */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  background-color: white;
}

.nav .container {
  display: flex;
  padding: 50px 50px;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.blue-box {
  height: 15px;
  width: 15px;
  background-color: blue;
  gap: 10px;
}

.align-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a.current,
.nav a:hover {
  color: blue;
}

h1.logo :hover {
  color: black;
}

h1.logo a {
  font-size: 27px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  padding: 7px 7px;
  font-weight: 200;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.hambuger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: blue;
}

/* body */
.main-context {
  min-height: 100px;
  position: absolute;
}
.side-bar {
  padding-top: 100px;
  width: 39%;
  background-color: var(--secondary-backgoundcolor);
  height: 910px;
  position: relative;
}

.appendix {
  top: 350px;
  background-color: var(--primary-backgroundcolor);
  width: 34%;
  position: absolute;
  left: 7%;
  display: grid;
  place-items: center;
}

.appendix img {
  border-radius: 50%;
  width: 200px;
  margin: 23px 0;
}

.text-align{
  text-align: center;
}

.line {
  width: 50px;
  height: 1.5px;
  background-color: blue;
  margin: 20px 0;
}

.btn-1{
  display: none;
}

.appendix p {
  font-weight: 250;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.social-icon {
  background-color: white;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-context {
  position: absolute;
  left: 45%;
  top: 350px;
}

.main-context h1 {
  font-size: 6rem;
}

.main-context p {
  font-size: 23px;
  margin-bottom: 30px;
  color: black;
}

.btn .active,
.btn :hover {
  background-color: #0050ff;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
}

.btn .active {
  color: white;
}

.btn .active:hover {
  background: white;
  transition: 0.3s ease-in-out;
  border: 2px solid #0050ff;
  color: black;
}

.btn button {
  width: 110px;
  height: 30px;
  border-radius: 40px;
  margin-right: 10px;
  text-transform: capitalize;
  font-weight: 400;
}

button:nth-child(2) {
  background-color: white;
  border: 1px solid black;
}

.main-context p:nth-last-of-type(1) {
  font-size: 14px;
  width: 350px;
  margin-top: 70px;
  font-weight: 300;
}

.footer {
  width: 100%;
  height: 150px;
  display: flex;
  position: relative;
  background-color: #ffff;
  align-items: center;
  justify-content: right;
  right: 100px;
  gap: 40px;
}

.col p {
  text-align: center;
  font-size: 15px;
}

.col a {
  font-size: 14px;
  font-weight: 200;
  color: inherit;
}

.col .fa-brands {
  margin-right: 10px;
}

/* media query for about me page */

@media screen and (max-width: 768px) {
  /* header media q uery */
  .hambuger-menu {
    display: block;
  }

  .hambuger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hambuger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hambuger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    /* left: 100%; */
    bottom: 100%;
    left: 0;
    gap: 20px;
    flex-direction: column;
    background-color: var(--primary-backgroundcolor);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu a {
    font-weight: 600;
    font-size: 15px;
  }

  .nav-menu.active {
    bottom: 0;
  }

  .side-bar {
    padding-top: 100px;
    width: 100%;
    margin-top: 400px;
    height: 480px;
    position: relative;
  }

  .appendix {
    top: 200px;
    background-color: var(--primary-backgroundcolor);
    width: 80%;
    position: absolute;
    left: 10%;
    right: 10%;
    display: grid;
    place-items: center;
  }

  .appendix img {
    border-radius: 50%;
    width: 150px;
    margin: 23px 0;
  }

  .text-align{
    display: flex;
    font-size: 15px;
    gap: 5px;
  }

  .appendix p {
   display: none;
  }
  

  .btn-1{
    display: block;
  }

  .line {
    width: 70px;
  }

  .btn-1{
    margin-bottom: 30px;
  }

  .btn-2{
    display: none;
  }

  button:nth-child(2) {
    background-color: transparent;
  }

  .social-icon{
    position: relative;
    bottom: 15px;
  }

  .main-context {
    position: absolute;
    top: 590px;
    left: 10%;
  }

  .main-context h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }

  .main-context p {
    font-size: 25px;
  }

  .main-context p:nth-last-of-type(1) {
    font-size: 17px;
    width: 300px;
    margin-top: 20px;
    font-weight: 300;
  }

  .footer {
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
    padding: 0 10%;
    right: 0;
    align-items: flex-start;
    background-color: #ffff;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .col p {
    text-align: start;
    font-size: 15px;
  }

  .col-1{
    position: relative;
    top: 0;
    margin-top: 20px;
  }

  .col-2{
    margin-top: 130px;
  }
  

  .col a {
    font-size: 14px;
    font-weight: 200;
    width: 30px;
    color: black;
  }
  
  .col .fa-brands {
    margin-right: 10px;
  }
}
