@media screen and (min-width: 282px) and (max-width: 768px) {
    /* header media q uery */
    .hambuger-menu {
      display: block;
    }
  
    .hambuger-menu.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hambuger-menu.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hambuger-menu.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
      position: fixed;
      bottom: 100%;
      left: 0;
      gap: 20px;
      flex-direction: column;
      background-color: var(--primary-backgroundcolor);
      width: 100%;
      height: 100%;
      text-align: center;
      transition: 0.3s;
    }
  
    .align-item h1 a {
      font-size: 17px;
    }
  
    .nav .container {
      padding: 50px 30px;
    }
  
    .nav-menu a {
      font-weight: 600;
      font-size: 15px;
    }
  
    .nav-menu.active {
      bottom: 0;
    }
  
    .side-bar {
      padding-top: 100px;
      width: 100%;
      margin-top: 400px;
      height: 430px;
      position: relative;
    }
  
    .appendix {
      top: 200px;
      background-color: var(--primary-backgroundcolor);
      width: 70%;
      position: absolute;
      left: 15%;
      right: 15%;
      display: grid;
      justify-content: center;
      align-items: center;
    }
  
    .appendix img {
      border-radius: 50%;
      width: 150px;
      margin: 23px 0;
    }
  
    .text-align {
      display: flex;
      font-size: 16px;
      gap: 5px;
    }
  
    .btn a button {
      width: 100px;
      height: 30px;
      border-radius: 35px;
      font-weight: 530;
      cursor: pointer;
    }
  
    .appendix p {
      display: none;
    }
  
    .btn-1 {
      display: flex;
      margin-bottom: 50px;
    }
  
    .activate:hover {
      background: transparent;
    }
  
    .active2 {
      background: var(--primary-backgroundcolor);
    }
  
    .line {
      width: 70px;
    }
  
    button:nth-child(2) {
      background-color: transparent;
      color: black;
    }
  
    .btn button {
      width: 140px;
      height: 35px;
      border-radius: 40px;
      font-size: 15px;
      font-weight: 500;
    }
  
    .btn-2 {
      display: none;
    }
  
    .social-icon {
      position: absolute;
      bottom: 15px;
      top: 90%;
      width: 100%;
    }
  
    .main-context {
      position: absolute;
      top: 600px;
      left: 10%;
    }
  
    .main-context h1 {
      font-size: 3rem;
      margin-bottom: 10px;
    }
  
    .main-context p {
      font-size: 20px;
    }
  
    .main-context p:nth-last-of-type(1) {
      font-size: 15px;
      width: 250px;
      margin-top: 20px;
      font-weight: 300;
    }
  
    .footer {
      width: 100%;
      height: 200px;
      display: flex;
      position: relative;
      padding: 0 10%;
      right: 0;
      align-items: center;
      background-color: #ffff;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  
    .col p {
      text-align: start;
      font-size: 15px;
    }
  
    .col-1 {
      position: relative;
      top: 0;
      margin-top: 20px;
    }
  
    .col a {
      font-size: 14px;
      font-weight: 200;
      color: black;
    }
  
    .col .fa-brands {
      margin-right: 10px;
    }
  }